<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off" class="crud-form">
  <input type="hidden" name="customerID" #customerID="ngModel" [(ngModel)]="customerService.customer.customerID">
  <div class="form-row mb-2">
    <div class="col">
      <label class="form-label">First Name:</label>
      <input name="firstName" #firstName="ngModel" required [(ngModel)]="customerService.customer.firstName"
        placeholder="First Name" class="form-control">
      <div class="validation-error" *ngIf="firstName.touched && firstName.invalid">Required</div>
    </div>
    <div class="col">
      <label class="form-label">Last Name:</label>
      <input name="lastName" #lastName="ngModel" required [(ngModel)]="customerService.customer.lastName"
        placeholder="Last Name" class="form-control">
      <div class="validation-error" *ngIf="lastName.touched && lastName.invalid">Required</div>
    </div>
  </div>
  <div class="form-row mb-2">
    <div class="col">
      <label class="form-label">Address:</label>
      <input name="address" #address="ngModel" [(ngModel)]="customerService.customer.address" placeholder="Address"
        class="form-control">
    </div>
  </div>
  <div class="form-row mb-2">
    <div class="col-md-6">
      <label class="form-label">City:</label>
      <input name="city" #city="ngModel" [(ngModel)]="customerService.customer.city" placeholder="City"
        class="form-control">
    </div>
    <div class="col-md-3">
      <label class="form-label">State:</label>
      <input name="state" #state="ngModel" [(ngModel)]="customerService.customer.state" placeholder="State"
        class="form-control">
    </div>
    <div class="col-md-3">
      <label class="form-label">Zip:</label>
      <input name="zip" #zip="ngModel" [(ngModel)]="customerService.customer.zip" placeholder="Zip" class="form-control">
    </div>
  </div>
  <div class="form-row mb-2">
    <div class="form-group">
      <label class="form-label">Email:</label>
      <input name="email" #email="ngModel" required [(ngModel)]="customerService.customer.email"
        placeholder="Email Address" class="form-control">
      <div class="validation-error" *ngIf="email.touched && email.invalid">Required</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 pb-2">
      <button class="btn btn-block" type="submit" [disabled]="!form.valid">
        <i class="fa fa-save"> Submit</i>
      </button>
    </div>
    <div class="col-md-4">
      <button class="btn btn-block" (click)="resetForm(form)" type="button">
        <i class="fa fa-repeat"> Reset</i>
      </button>
    </div>
  </div>
</form>