<div class="jumbotron div-center">
  <img src="/assets/img/daniel_logo_small.png">
</div>
<nav class="navbar navbar-dark bg-dark navbar-expand-lg" *ngIf="userService.loggedIn">
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="navbarSupportedContent">
    <div class="nav-link" style="color:#d9ebfc; font-size: large; font-weight: 600; font-style: italic;">Angular 7 .NET
      Core Web API &#x25B5; </div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/home" routerLinkActive="active" class="nav-link">Home /
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/contacts" routerLinkActive="active" class="nav-link">Contacts /
          <!-- <span class="sr-only">(current)</span> -->
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/customers" routerLinkActive="active" class="nav-link">Customers /
          <!-- <span class="sr-only">(current)</span> -->
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/employees" routerLinkActive="active" class="nav-link">Employees /
          <!-- <span class="sr-only">(current)</span> -->
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/companies" routerLinkActive="active" class="nav-link">Companies 
          <!-- <span class="sr-only">(current)</span> -->
        </a>
      </li>
    </ul>
  </div>
  <div style="padding-left: 5px;">
    <button class="btn logout-btn my-2 my-sm-0" (click)="onLogout()">Logout</button>
  </div>
</nav>